@import url(variable.css);
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}
body{
    width: 100%;
    height: 100vh;

    background: var(--color-primario);

    display: grid;
    grid-template-rows: 6% auto 10% ;
}
header{
    padding-left: 1em;
    padding-right: 1em;
    
    color: var(--color-ternario);
    
    display: grid;
    grid-template-columns: 15% auto 15%;
}
header img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 100%;
}
main{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
footer{
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}