@import url(variable.css);
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}
body{
    width: 100%;
    height: 100vh;
}
header{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    
    background: var(--color-primario);
    color: var(--color-ternario);
    
    display: grid;
    grid-template-columns: 15% auto 15%;

    position: sticky;
    top: 0;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    height: 2em;
    object-fit: contain;
    overflow: hidden;
}
header h1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    font-size: 100%;
}
footer{
    width: 100%;
    background: var(--color-primario);
    position: fixed;
    bottom: 0;
}
footer ul{   
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
    padding-left: 1em;
    padding-right: 1em;
}
footer ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    
    list-style: none;
}
footer ul li img{
    height: 3em;

    object-fit: contain;
    overflow: hidden;
}

main{
    height: 100vh;

    background: var(--color-primario);    
}
/* Primera parte del main */
.tex{
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--color-ternario);

    padding-left: 1em;
    padding-right: 1em;
}
.tex h1{
    font-family: "SF-Pro-Text-Heavy";
    /* font-family: 'SF Pro Text'; */
    /* font-style: normal; */
    /* font-weight: 800; */
}
.tex h2{
    font-family: "SF-Pro-Text-Light";
}
.tex p{
    font-family: "SF-Pro-Text-Medium";
}
.tex sub, .tex h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Arregla la h2 para que quede en el mismo estilo de p pero con 2 rem si pongo ese rublo en p cambio internamente el balance  */
.Balance{
    padding-top: 1em;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.sidebar {
    height: .5em;
    width: 10%; /* Ancho inicial de la barra lateral */
    background-color:var(--color-cuarto); /* Color de fondo de la barra lateral */
} 
.content {
    height: .5em;
    width: 70%; /* Ancho del contenido principal */
    background-color: gray; /* Color de fondo del contenido principal */
}
/* Segunda parte del Main  */
.blanc{
    height: 90vh;
    border-top-left-radius: 4vh;
    border-top-right-radius: 4vh;
    padding-left: 1em;
    padding-right: 1em;
    
    background: var(--color-ternario);
    
    display: flex;
    flex-direction: column;

    overflow: auto;
}
.fichas{
    padding-top: 1em;
    padding-bottom: 1em;

}
.fichas h2{
    font-family: "SF-Pro-Text-Bold";
}
.fichas p{
    font-family: "SF-Pro-Text-Semibold";
}
.targeta{
    padding-top: 1em;
    padding: 1em;
    height: 15em;
    
    display: flex;
    justify-content: center;
    gap: 1em;
}
.tagetica{
    
    background: var(--color-ternario);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3vh;
    
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.tras{
    padding-top: 1em;
    padding-bottom: 1em;

}
.trans{
    padding-top: 2em;
    padding-bottom: 1em;

    flex-grow: 1;
    overflow: auto;
}
.move{
    display: grid;
    grid-template-columns: 10% auto 20%;
    grid-gap: 1em;
}
.move img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
.move div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.move p{
    font-weight: bold;
}
.move_small small, .move_small p{
    margin-left: auto; /* Alinea las etiquetas <small> a la derecha */
}

.banner{
    position: absolute;
} 
.banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


