<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montiel</title>
    <link rel="stylesheet" href="../css/balance.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
    <div class="banner">
        <img src="../storage/img/balance/Ellipse 12.png" alt="cagada">
    </div>
    <header>
        <div>
            <img src="../Storage/img/header/logo.svg" alt="ad">
        </div>
        <h1>INVETO</h1>
        <div>
            <img src="../Storage/img/header/menu.svg" alt="ad">
        </div>
    </header>
    <main>
        <section >
            <div class="circulito">
                <h1>Total</h1>
                <h1>Balance</h1>
                <h1><small>$</small>214,417</h1>
            </div>
        </section>
        <section class="botones">
            <ul class="navegation">
                <li><a href="#">Assets</a></li>
                <li><a href="#">Dedt</a></li>
                <li><a href="#">Income</a></li>
            </ul>
        </section>
    </main>
    <footer>
        <ul>
            <li>
                <a href="#">
                    <img src="../Storage/img/fooder/home.svg" alt="">
                </a>
            </li>
            <li>
                <a href="balance.html">
                    <img src="../Storage/img/fooder/bookSelec.svg" alt="">
                </a>
            </li>
            <li>
                <a href="cards.html">
                    <img src="../Storage/img/fooder/grid.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../Storage/img/fooder/bell.svg" alt="">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../Storage/img/fooder/user.svg" alt="">
                </a>
            </li>
        </ul>
        
    </footer>
</body>
</html>