<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cards.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
    <header>
        <img src="../storage/img/logo.png" alt="">
        <h1>INVETO</h1>
        <img src="../storage/img/meublack.png" alt="">
    </header>
    <main>
    </main>
    <footer>
        <img src="../storage/img/home.png" alt="">
        <img src="../storage/img/book.png" alt="">
        <img src="../storage/img/gridAlt.png" alt="">
        <img src="../storage/img/bell.png" alt="">
        <img src="../storage/img/user.png" alt="">
    </footer>
</body>
</html>