<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montiel</title>
    <link rel="stylesheet" href="../css/cards.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
    <header>
        <div>
            <img src="../Storage/img/header/logo2.svg" alt="ad">
        </div>
        <h1>INVETO</h1>
        <div>
            <img src="../Storage/img/header/menu2.svg" alt="ad">
        </div>
    </header>
    <main>
        <div class="tips">
            <h1>Investing Tips</h1>
            <div class="baan">
                <div class="baan_Cerdo">
                    <img src="../storage/img/cards/tipscochi.png" alt="">
                </div>
                <div class="baan_text">
                    <h2>What is an ETF?</h2>
                    <h3>By James B, PHD</h3>
                    <div class="boton">Learn More</div>
                </div>
                <div class="baan_x">
                    <img src="../storage/img/cards/tipsx.png" alt="">
                </div>
            </div>
        </div>
        <div class="cards">
            <h1>My Card (4)</h1>
            <section class="main__cards">
                <article class="cards__item">
                    <small>**** 6175</small>
                    <h2><sub>$</sub> 47,417</h2>
                    <img src="../storage/img/cards/visa.svg">
                </article>
                <article class="cards__item">
                    <small>**** 5789</small>
                    <h2><sub>$</sub> 584,466</h2>
                    <img src="../storage/img/cards/masterCard.svg">
                </article>
            </section>
        </div>
    </main>
    <footer>
        <ul>
            <li>
                <a href="#">
                    <img src="../Storage/img/fooder/home.svg" alt="">
                </a>
            </li>
            <li>
                <a href="balance.html">
                    <img src="../Storage/img/fooder/book.svg" alt="">
                </a>
            </li>
            <li>
                <a href="cards.html">
                    <img src="../Storage/img/fooder/gridSelec.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../Storage/img/fooder/bell.svg" alt="">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../Storage/img/fooder/user.svg" alt="">
                </a>
            </li>
        </ul>
        
    </footer>
</body>
</html>