<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cards.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
    <header>
        <div>
            <img src="Storage/img/header/logo.svg" alt="ad">
        </div>
        <h1>INVETO</h1>
        <div>
            <img src="storage/img/header/menu.svg" alt="ad">
        </div>
    </header>
    <main>
        <div class="tips">
            <h1>Investing Tips</h1>
            <div class="baan">
                <div class="baan_Cerdo">
                    <img src="../storage/img/tipscochi.png" alt="">
                </div>
                <div class="baan_text">
                    <h2>What is an ETF?</h2>
                    <h3>By James B, PHD</h3>
                    <div class="boton">Learn More</div>
                </div>
                <div class="baan_x">
                    <img src="../storage/img/tipsx.png" alt="">
                </div>
            </div>
        </div>
        <div class="cards">
            <h1>My Card (4)</h1>
            <div class="Carstarger"></div>
        </div>
    </main>
    <footer>
        <img src="../storage/img/home.png" alt="">
        <img src="../storage/img/book.png" alt="">
        <img src="../storage/img/gridAlt.png" alt="">
        <img src="../storage/img/bell.png" alt="">
        <img src="../storage/img/user.png" alt="">
    </footer>
</body>
</html>